.footer {
  padding: 10px 16px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.copyright {
  font-weight: 300;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.social-icons {
  margin: 0 10px;
  transition: all .1s ease-in-out;
}

.social-icons:hover {
  transform: scale(1.2);
}