.footer {
  padding: 10px 16px;
  margin-top: auto;
  box-shadow: 0 -2px 8px #f0f1f2;
}

.copyright {
  font-weight: 300;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.social-icons {
  margin: 0 10px;
  transition: all 0.1s ease-in-out;
}

.social-icons:hover {
  transform: scale(1.2);
}
